

.loja-container {
    height: 100vh;
    color: #fff;
    background-color: #282828;
}

.loja-container h2 {
    font-size: 40px;
    text-align: center;
    padding: 90px 0;
}

.loja-cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.cards-info {
    width: 300px;
    height: 352px;
}

.cards-info img {
    border: 1px solid #ffffffc9;
    padding: 18px 30px;
    
}

.cards-info h3 {
    font-size: 26px;
    font-weight: 700;
}

.cards-info p {
    font-size: 16px;
    text-align: justify;
}

@media (min-width: 375px) and (max-width: 812px) {
    
    .loja-container {
        height: 170vh;
    }

    .loja-container h2 {
        font-size: 34px;
    }

    .loja-cards {
        display: block;
        padding-left: 30px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .loja-container {
        height: 140vh;
    }

    .loja-container h2 {
        font-size: 40px;
    }

    .loja-cards {
        display: flex;
        flex-direction: column;  
        justify-content: center;
        align-items: center; 
    }
}

@media (min-width: 1920px) {
    .loja-container {
        height: 80vh;
    }
}

@media (min-width: 3840px) {
    .loja-container {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .loja-container h2 {
        font-size: 60px;
    }

    .cards-info {
        padding: 120px;
        width: 400px;
    }

    .cards-info img {
        width: 150px;
    }

    .cards-info h3 {
        font-size: 44px;
    }

    .cards-info p {
        font-size: 28px;
    }
        
}