
.form-container {
    height: 120vh;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-container h2 {
    color: #fff;
    font-size: 50px;
    text-align: center;
}

.form-container p {
    color: #ffffff8c;
    font-size: 18px;
    text-align: justify;
    width: 50%;
}

.form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

.form form input{
    width: 200%;
    padding: 20px;
    margin-top: 40px;
    background: none;
    border: 1px solid #ffffffb9;
    color: #ffffffc2;
}

.form form select {
    width: 216%;
    padding: 20px;
    margin-top: 40px;
    background: none;
    border: 1px solid #ffffffb9;
    color: #ffffff80;
}

.form form select option {
    background-color: #000;
}

.form form button {
    width: 220%;
    margin-top: 40px;
    padding: 18px;
    color: #fff;
    background-color: #F25C05;
    border: none;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.form form button:hover {
    box-shadow: 0 0 15px 5px rgba(255, 71, 58, 0.6);
}

@media (min-width: 375px) and (max-width: 812px) {
    
    .form-container h2{
        font-size: 38px;
    }

    .form-container p{
        font-size: 16px;
        width: 80%;
    }

    .form form input, .form form select{
        width: 100%;
    }

    .form form button {
        width: 100%;
        font-size: 18px;
    } 
}

@media (min-width: 768px) and (max-width: 1024px) {
    .form-container h2{
        font-size: 40px;
    }

    .form-container p{
        font-size: 18px;
        width: 80%;
    }

    .form form input, .form form select{
        width: 140%;
    }

    .form form button {
        width: 140%;
        font-size: 18px;
    } 
}

@media (min-width: 3840px) {
    .form-container h2{
        font-size: 80px;
    }

    .form-container p{
        font-size: 40px;
        width: 50%;
    }

    .form form input, .form form select{
        width: 300%;
    }

    .form form button {
        width: 200%;
        font-size: 18px;
    } 
}
