

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
}

header nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #0D0D0D;
    height: 14vh;
}

nav img {
    width: 150px;
}

nav ul {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

nav ul li {
    margin-left: 80px;
    list-style: none;
    color: #fff;
    font-weight: 700;
    cursor: pointer;  
}

nav ul li a{
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    color: #F25C05;
}

nav span {
    display: flex;
    align-items: center;
}

/*Carrinho*/
.carrinho-icon {
    position: relative;
    cursor: pointer;
  }
  
  .carrinho-count {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 8px;
    font-size: 0.8rem;
  }
  
  .sidebar-carrinho {
    position: fixed;
    top: 0;
    right: -100%;
    width: 350px;
    height: 100%;
    background-color: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
    padding: 20px;
    transition: right 0.3s ease-in-out;
    z-index: 1000;
    overflow-y: auto;
  }
  
  .sidebar-carrinho h2 {
    border-bottom: 1px solid #0000003f;
  }

  .sidebar-carrinho.aberto {
    right: 0;
  }
  
  .fechar-carrinho {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  
.carrinho-container {
  width: 100%;
  border-bottom: 1px solid #0000003f;
}


.carrinho-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carrinho-item img {
  width: 200px;
}

.carrinho-info {
  padding: 12px;
}

.carrinho-info h4{
  font-size: 18px;
  font-weight: 700;
  width: 100%;
}

.carrinho-info p {
  font-size: 16px;
  font-weight: 600;
}

.controle-quantidade {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px 0;
}

.quantidade-btn {
  display: flex;
}

.quantidade-btn button{
    background-color: #282828;
    color: white;
    border: none;
    padding: 6px 10px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
}

.quantidade-btn span {
  margin: 0 15px;
  font-size: 14px;
  font-weight: 700;
  color: #333;
}

.btn-trash button {
  background: none;
  border: none;
  cursor: pointer;
}

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }

  .finalizar-compra-btn button{
    border: none;
    background-color: #F25C05;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
  }

  /* Menu Hamburguer */
  .menu-list {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .menu-list li a {
    color: #fff;
    text-decoration: none;
  }
  
  .dropdown-button {
    display: none;
    background: none;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
  }

  /*BreakPoints*/
@media (min-width: 375px) and (max-width:812px){

  .menu-list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 90px;
    right: 20px;
    background-color: #333;
    border: 1px solid #444;
    padding: 10px;
  }

  .menu-list.active {
    display: flex;
  }

  .dropdown-button {
    display: block;
  }

  .carrinho-count {
    top: 40px;
    right: 46px;
  }

  .sidebar-carrinho {
    width: 250px;
    right: -300px;
    transition: right 0.3s ease-in-out;
  }
  
  .carrinho-item img {
    width: 150px;
  }

  .quantidade-btn {
    display: flex;
  }
}

@media (min-width: 813px) and (max-width: 1180px) {

  .carrinho-count {
    top: 64px;
    right: 110px;
  }

  .menu-list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 90px;
    right: 20px;
    background-color: #333;
    border: 1px solid #444;
    padding: 10px;
  }

  .menu-list.active {
    display: flex;
  }

  .dropdown-button {
    display: block;
  }
}

@media (min-width: 1280px) {
  .carrinho-count {
    top: 30px;
    right: 30px;
  }

  .sidebar-carrinho {
    width: 280px;
  }
}

@media (min-width: 1920px) {
  .carrinho-count {
    top: 50px;
    right: 160px;
  }

  .sidebar-carrinho {
    width: 400px;
  }
}

@media (min-width: 3840px) {
  .carrinho-count {
    top: 60px;
    right: 570px;
  }
}